In [1]:
%load_ext autoreload
%autoreload 2
%pylab inline

from collections import defaultdict, OrderedDict, Counter
from copy import deepcopy
import time
import numpy as np
from pprint import pprint
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from scipy.stats import poisson
from datetime import date, datetime
import uuid
import os
import csv
import ujson
import requests
import io
from pprint import pprint
from dateutil import parser
import pandas as pd

from tputils import *

Populating the interactive namespace from numpy and matplotlib

# Data

In [2]:
# raw_data = csv_load("in/data.csv", delimiter=",")

# header = raw_data[0]
# raw_data = raw_data[1:]

# col_id = {col_name: i_col for i_col, col_name in enumerate(header)}

# types = [int, int, float, float, float, str]
# raw_data = [[types[i_col](element) for i_col, element in enumerate(row)] for row in raw_data]

# print(header)
# pprint(raw_data[:5])
# print("nr_rows", len(raw_data))

In [3]:
df_data = pd.read_csv("in/data.csv")
df_data.set_index("id", inplace=True)
header = list(df_data.columns.values) 
print("Header:", header)
# df_routes["Postaveno"] = pd.to_datetime(df_routes["Postaveno"], format="%d.%m.%Y")
df_data.head()

Header: ['label', 'f1', 'f2', 'f3', 'c1']

        label        f1          f2        f3 c1
id
299340      1  2.114135   53.279725  0.715891  f
222579      1  2.750729  -68.723837  0.783546  m
152620     -1 -0.398702   37.517511  0.057790  m
201201     -1  6.107160 -178.689183 -0.825741  m
268691      1  6.485862 -157.894766  0.740175  m

# Data analysis

In [ ]:
df_data.describe()

               label             f1             f2             f3
count  100000.000000  100000.000000  100000.000000  100000.000000
mean       -0.334280       0.996455     -50.012167      -0.000438
std         0.942479       3.464272      86.627939       0.578297
min        -1.000000      -4.999927    -199.999115      -0.999982
25%        -1.000000      -2.009106    -125.137753      -0.502098
50%        -1.000000       1.000574     -49.738901       0.000180
75%         1.000000       3.993015      24.900275       0.500053
max         1.000000       6.999791      99.999832       0.999995

In [ ]:
for col in header:
    ax = df_data[col].plot(kind='bar', title=col, legend=None, rot=0)
    break
#     ax.set_xlabel("Návrh obtížnosti")
#     ax.set_ylabel("Počet hodnocení")
#     ax.yaxis.set_major_locator(MaxNLocator(integer=True))
# plt.savefig(outdir_wall_suggest + "Navrhy_obtiznosti_{}.png".format(idroute))

['label', 'f1', 'f2', 'f3', 'c1']